.addEntity{
	padding: 30px 15px;
	position: absolute;
	z-index: 1000;
	top: 0;
	width: 100%;
	border: 1px solid #c1c1c1;
	background: #f0f0f0;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.addEntity .form input:-webkit-autofill{
	-webkit-box-shadow: 0 0 0 100px #fff inset !important;
	-webkit-text-fill-color: #000 !important;
	background-color: transparent !important;
}
.addEntity .form ::-webkit-input-placeholder{
	color: #000;
}
.addEntity.form ::-moz-placeholder{
	color: #000;
}
.addEntity .form :-ms-input-placeholder{
	color: #000;
}
.addEntity .form :-moz-placeholder{
	color: #000;
}
.form label{
	font-size: 14px!important;
}
.formgroup {
	padding: 20px 10px 5px;
	display: block;
	background: #fff;
	width: 0;
	border: 1px solid #8d8d8d;
	position: relative;
}
.addEntity .formgroup {
	padding-top: 40px;
}
.addEntity .formgroup__cell{
	padding: 5px 0;
}
.formgroup.active,
.all-visible .formgroup.hidden {
	margin-bottom: -1px;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.formgroup.hidden-group{
	display: none!important;
}
.formgroup__title{
	color: #cacaca;
}
.formgroup.hidden,
.formgroup__title{
	display: none;
}

.all-visible .formgroup{
	padding-top: 40px;
}
.all-visible .formgroup__title{
	display: block;
	position: absolute;
	top: 7px;
	left: 20px;
	font-family: "Roboto Medium", sans-serif;
}

.addEntity .navigation{
	padding: 0 0 5px;
}
.nav-menu{
	margin-bottom: -6px;
	padding: 10px 0 0;
	font-size: 0;
	text-align: right;
	position: relative;
	z-index: 100;
}
.nav-menu__item{
	padding: 10px 20px;
	display: inline-block;
	font-size: 14px;
	cursor: pointer;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}
.nav-menu__item.active,
.nav-menu__item.active:hover{
	border: 1px solid #8d8d8d;
	border-bottom: none;
	background: #fff;
}
.nav-menu__item:hover{
	background: #dadadc;
}
.addEntity .mng__btn{
	padding: 20px 0 0;
}
.text-nowrap{
	white-space: nowrap;
}
.text-nowrap label{
	margin: 0 20px 0 0;
	display: inline-block;
}
.text-nowrap label:after{
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.addEntity .text-nowrap input{
	margin: 0 0 0 10px;
	width: auto;
	vertical-align: middle;
}
.field-validation-marker{
	margin-left: 5px;
	display: inline-block;
	text-align: center;
}
.field-validation-marker:after{
	content: '!';
	display: inline-block;
	color: transparent;
	background: transparent;
	border-radius: 50%;
	font-size: 14px;
	line-height: 17px;
	width: 17px;
	height: 17px;
	vertical-align: middle;
}
.addEntity .--warning + .field-validation-marker:after{
	color: #fff;
	background: #d9504a;
}
.addEntity .--warning + .react-autosuggest__container input{
	border-color: #d9504a;
	border-style: solid;
}
.addEntity .checkbox-helpers{
	display: flex;
	position: absolute;
	left: 11px;
	top: 6px;
	line-height: 1.5em;
	align-items: center;
}

@media screen and (min-width: 480px){
	.addEntity .formgroup__cell{
		padding: 0;
		margin: 0 0 20px;
		width: 48%;
		display: inline-block;
	}
	.addEntity .formgroup__cell:nth-child(odd){
		margin-right: 4%;
		float: left;
	}
	.addEntity .full-width .formgroup__cell{
		margin: none;
		width: 100%;
		float: none;
	}
	.addEntity .left-side,
	.addEntity .right-side{
		display: flex;
		justify-content: space-around;
		align-items: baseline;
	}
	.addEntity .left-side{
		line-height: 37px;
		white-space: nowrap;
	}
	.addEntity .right-side{
		padding-left: 15px;
	}
	.addEntity .right-side.full-width div{
		width: 100%;
	}
}

@media screen and (min-width: 992px){
	.addEntity{
		padding: 30px 40px;
	}
	.master-table .flex-block {
		margin-bottom: 5px;
		display: flex;
		align-items: center;
		justify-content: space-around;
	}
	.master-table .formgroup__cell select,
	.master-table .formgroup__cell input[type='text'],
	.master-table .formgroup__cell input[type='date'],
	.master-table .react-autosuggest__container{
		flex-shrink: 1;
	}
	.master-table .formgroup__cell label{
		width: 150px;
		text-align: right;
		flex-shrink: 0;
	}
	.master-table .formgroup__cell .text-nowrap label{
		width: auto;
	}
	.master-table .formgroup__cell.full-width label{
		width: 100%;
	}
	.addEntity .left-side,
	.addEntity .right-side{
		width: 50%;
	}
	.addEntity .left-side label,
	.addEntity .right-side label{
		width: auto;
	}
	.addEntity .left-side input[type="text"],
	.addEntity .right-side input[type="text"]{
		width: 100%;
	}
}

@media screen and (min-width: 1366px){
	.addEntity .checkbox-helpers {
		left: 57px;
	}
}
@media screen and (min-width: 1400px){
	.nav-menu{
		display: none!important;
	}
	.addEntity .checkbox-helpers {
		left: 160px;
	}
	.courier.formgroup,
	.delivery.formgroup,
	.finances.formgroup{
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		flex-wrap: nowrap!important;
	}
	.master-table .finances .formgroup__cell label{
		width: auto;
	}
	.addEntity .delivery .formgroup__cell,
	.addEntity .finances .formgroup__cell{
		margin: 0 15px 20px;
		width: auto;
	}
	.addEntity .courier .formgroup__cell:last-child,
	.addEntity .delivery .formgroup__cell:last-child,
	.addEntity .finances .formgroup__cell:last-child{
		margin-right: 4%;
	}
	.addEntity .delivery .left-side,
	.addEntity .delivery .right-side {
		width: 210px;
		line-height: 23px;
	}
	.addEntity .delivery .right-side{
		padding: 0;
		height: 38px;
	}
	.delivery [name="deliveryAssets.shipmentType"]{
		display: block;
	}
	.addEntity .finances select{
		width: 100%;
		max-width: 185px;
	}
}

@media screen and (min-width: 1920px){
	.navigation{
		padding: 0 0 15px;
	}
	.addEntity {
		top: 96px;
	}
	.addEntity .formgroup__cell,
	.addEntity .full-width .formgroup__cell {
		width: 23%;
	}
}